
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_whlayout.cshtml";
}

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<h4 class="text-center">Dashboard</h4>
<hr />

